<p align="center">
    <img src="https://raw.githubusercontent.com/vulncheck-oss/sdk-go-v2/refs/heads/main/logo-sdk.png" align="center" alt="VulnCheck Logo" width="150" />
</p>

# The VulnCheck SDK For Go

Bring the VulnCheck API to your Go applications.

## Installation

```bash
go get github.com/vulncheck-oss/sdk-go-v2/v2
```

## Examples

### Connecting to the API

<!-- [[[cog
import cog
with open("./tests/examples/connecting.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### Available Methods

### PURL

Get the CVE's for a given PURL

<!-- [[[cog
import cog
with open("./tests/examples/purl.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### CPE

Get all CPE's related to a CVE

<!-- [[[cog
import cog
with open("./tests/examples/cpe.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### Advisory

List advisory feeds and query advisories

<!-- [[[cog
import cog
with open("./tests/examples/advisory.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### Backup

Download the backup for an index

<!-- [[[cog
import cog
with open("./tests/examples/backup.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### Backup V4

List and download v4 backups by feed name

<!-- [[[cog
import cog
with open("./tests/examples/backupv4.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### Indices

Get all available indices

<!-- [[[cog
import cog
with open("./tests/examples/indices.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### Index

Query VulnCheck-NVD2 for `CVE-2019-19781`

<!-- [[[cog
import cog
with open("./tests/examples/index.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

### Pagination

Paginate over results for a query to VulnCheck-KEV using `cursor`

<!-- [[[cog
import cog
with open("./tests/examples/pagination.go", 'r') as f:
    content = f.read().strip()
    lines = [l for l in content.splitlines() if not l.startswith("//go:build")]
    cog.outl(f"```go\n{chr(10).join(lines).strip()}\n```\n")
]]] -->
<!-- [[[end]]] -->

## License

Apache License 2.0. Please see [License File](./LICENSE) for more information.
